@{
    ViewBag.Title = "Weather Dashboard";
}

<canvas id="myChart"></canvas>
<div class="form-group">
    <label for="sel1">City:</label>
    <select class="form-control" id="city">
        <option selected value='{"lat":"27.4864197","lon":"-109.9408264"}'>Obregon</option>
        <option value='{"lat":"27.07","lon":"-109.4437"}'>Navojoa</option>
        <option value='{"lat":"29.1026001","lon":"-110.98"}'>Hermosillo</option>
        <option value='{"lat":"31.3086205","lon":"-110.9421692"}'>Nogales</option>
    </select>
</div>
<div class="form-group">
    <label for="sel1">Scale:</label>
    <select class="form-control" id="scale">
        <option selected value="M">Celsius</option>
        <option value="I">Farenheit</option>
        </select>
</div>
<table id="table"
       
  data-sortable="true"
  >
    <thead>
        <tr>
            <th data-field="datetime">Fecha</th>
            <th data-field="temperature">Temperatura</th>
        </tr>
    </thead>
</table>
<script src="~/Scripts/dashboard.js"></script>